/*Styling the featured*/
.featured-container {
    display: inline-block;
    text-align: left;
    margin-top: 400px;
    height: auto;
    width: 40%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 30px;
    background-color: rgba(0, 0, 0, 0.4);
}
.featured-container img {
    display: inline-block;
    text-align: left;
    height: auto;
    width: 100%;
}
.featured-container p {
    padding-left: 10px;
    padding-bottom: 15px;
}
.featured-container p a {
    color: red;
    font-size: 1.05em;
}
.featured-container p a:hover {
    color: rgb(255, 128, 128);
    transition-duration: 0.15s;
}

/*Styling the tour*/
.featured-container {
    display: inline-block;
    text-align: left;
    margin-top: 400px;
    height: auto;
    width: 40%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 30px;
    background-color: rgba(0, 0, 0, 0.4);
}
.sectionsubheader span a {
    color: black;
}
.tour-sh-2 {
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
}
.tour-sh-1 {
    font-size: 1.15em;
    color: black;
}
.tour-flexitem, .tour-nesteditem {
    list-style: none;
}
.tour-nesteditem {
    width: 1000px;
    display: flex;
    flex-direction: row;
    border-top: 1px solid white;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    align-items: center;
}
.tour-nesteditem:hover {
    background-color: rgba(0, 0, 0, 0.05);
    transition-duration: 0.08s;
}
.tour-nesteditem li {
    padding-left: 20px;
    padding-right: 20px;
}
.tour-flexitem {
    display: block;
    border-bottom: 1px solid white;
}
.tour-timedate {
    color: black;
    font-family: "Heebo", sans-serif;
}
.tour-venue {
    color: white;
    font-family: "Heebo", sans-serif;
}
.tour-country {
    color: black;
    font-family: "Heebo", sans-serif;
    text-align: center;
}
.tour-nesteditem li button {
    font-family: "Heebo", sans-serif;
    background-color: white;
    color: #f44646;
    border-radius: 1px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 45px;
    padding-right: 45px;
    border-style: none;
}
.tour-nesteditem li button:hover {
    cursor: pointer;
}

/*Styling the member gallary*/
.gallary-flexitem {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.gallary-flexitem li {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 60px;
    font-size: smaller;
    text-align: center;

    overflow: hidden;

}
.gallary-flexitem li a {
    text-decoration: none;
}
.gallary-flexitem li img {
    height: 290px;
    width: 290px;
    max-width: 100%;
    margin-bottom: 30px;
}
.gallary-flexitem li img:hover {
    transition-duration: 0.25s;
    transform: scale(1.03,1.03);
}

@media only screen and (max-width: 920px) {
    .featured-container {
        margin-top: 200px;
        width: 75%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .tour-nesteditem {
        width: 700px;
    }

    .gallary-flexitem {
        flex-direction: column;
    }
    .gallary-flexitem li img {
        max-width: 75%;
        height: auto;
    }
}
@media only screen and (max-width: 450px) {
    .tour-nesteditem {
        width: 230px;
        flex-direction: column;
    }
    .tour-nesteditem li {
        margin-top: 2px;
        margin-bottom: 2px;
    }
}