
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@670&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@570&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 1em;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: #ff4949;
}
html, body {
    max-width: 100vw;
    overflow-x: hidden;
    height:auto!important;
}


/*Styling the navigation bar*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 30px;
    width: 100%;
}
.logo {
    height: 18%;
    width: 18%;
}
nav {
    display: flex;
    flex-direction: row;
    
}
.navlinks {
    list-style: none;
    text-align: center;
}
.navlinks li {
    display: inline-block;
    padding: 0px 20px;
}
.navlinks li a,.dropdown {
    font-size: 1.3em;
    font-family: 'Bebas Neue', sans-serif;
    color:rgb(220, 220, 220);
    text-decoration: none;
    transition-duration: 0.15s;

}
.navlinks li a:hover,#dropdown:hover {
    color:rgb(255, 255, 255);
    transition-duration: 0.15s;
}

/*Creating a dropdown list for the navigation bar*/
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdownlist {
    position:absolute;
    display: none;
    z-index: 1;
    min-width: 100px;
    background-color: #f93838;
    opacity: 90%;
    font-size: smaller;
    text-align: center;
    border: none;
    border-radius: 10px;
    right: 0;
}
.dropdownlist a {
    display: block;
    padding: 15px 8px;
    text-decoration: none;
}
.dropdown:hover .dropdownlist {
    display: block;
}
.dropbtn {
    background-color: #ff4949;
    border-style: none;
    padding: 4px 6px;
    margin-bottom: 8px;
    color: rgb(220, 220, 220);;
}
.dropbtn:hover {
    color:rgb(255, 255, 255);
    cursor: pointer;
    background-color:rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 2px;
    transition-duration: 0.15s;
}

/*Styling the footer*/
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 25px 30px;
}
.follow {
    padding-bottom: 10px;
}
.sociallinks {
    display: inline-block;
    list-style: none;
}
.sociallinks li {
    display: inline-block;
    padding: 0px 20px;
}
.sociallinks p {
    padding: 15px 0px;
}
.socialicon {
    height: 48px;
    width: 48px;
}
input {
    border-style: hidden;
    border-width: thin;
    border-radius: 2px;
    height: 35px;
    
    padding: 5px 10px;
    background-color: white;
}
input:focus {
    outline: none;
    color: black;
}
.signup button {
    border-style: none;
    border-radius: 2px;
    padding: 9px 10px;
    background-color: #ff4949;
    font-size: 1.1em;
}
.signup button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}
form p {
    padding: 20px 0;
}
.footer-flexcontainer {
    display: flex;
    flex-wrap: wrap;
}
.footer-flex-item {
    display:flex;
    flex-direction: column;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.25em;
}
/*Reusable properties*/
.common-flexcontainer {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
}
.sectionheader {
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 30px;
}
.sheader {
    font-family: 'Zen Dots', cursive;
    font-size: 1.4em;
}
.sectionsubheader {
    background-color: rgba(0, 0, 0, 0.1);
    padding-bottom: 15px;
}
.sectionsubheader span{
    display: block;
    margin-left: 30px;
}
div.featured {
    background-image: url(media/featured2-gif.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    height: 700px;
    width: 100%;

    display: inline-block;

}






@media only screen and (max-width: 920px) {
    div.featured {
        height: 450px;
        width: 100%;
    }
    .footer-flexcontainer {
        justify-content: center;
    }
    .footer-flex-item {
        flex-direction: column;
    }
    
    header{
        flex-direction: column;
    }
    .logo {
        height: 40%;
        width: 40%;
        margin-bottom: 10px;
        align-self: center;
    }
    nav {
        align-self: center;
    }
    .navlinks li {
        padding: 0px 10px;
    }
}